.cup {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 7px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
}

.ingredient {
    width: 50px;
    flex-grow: 1;
}